<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetEti.DemoApplications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NetEti.DemoApplications.Properties.Settings>
			<setting name="Peter" serializeAs="String">
				<value>Pan</value>
			</setting>
			<setting name="Claire" serializeAs="String">
				<value>Grube</value>
			</setting>
		</NetEti.DemoApplications.Properties.Settings>
    </userSettings>
</configuration>